
$color-white: white;
$color-black: #333333;
$color-gray: #DDDDDD;
$color-primary-green:#64CD6D;
$color-orange: orange;
$color-light-orange: #f09a11e8;
$color-gold: #d8a301;

$sidebar-width-sp: 200;
$header-height: 50px;
